Very_dark _cyan, hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan:  hsl(184, 14%, 56%) // boes  letras resultado
- Light grayish cyan: hsl(185, 41%, 84%) //fundo caixas
- Very light grayish cyan: hsl(189, 41%, 97%) //letras botoes
- White: hsl(0, 0%, 100%)

.{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: hsl(186, 14%, 43%);
    height: 100%;
}

h1{
    text-align: center;
}
 
.primeira_div{
    background-color:hsl(0, 0%, 100%);
    border-radius: 16px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 8%;
}

.segunda_div{
    background-color:hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 320px;
    height: 300px;
    margin: 20px 20px 20px 20px;
    margin-top: 8%;
    float: left;
}

.terceira_div{
    background-color:hsl(183, 100%, 15%);
    border-radius: 15px;
    width: 400px;
    height: 360px;
    margin: 20px 20px 20px 20px;
    float: right;

}

button{
    background-color:hsl(183, 100%, 15%) ;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border:none;
    color: white;
    margin: 3px;

}

.botao{
    background-color:hsl(184, 14%, 56%);
    color: hsl(183, 100%, 15%);
    
}

.botao2{
    background-color:hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

#individual{
    background-color: rgb(228, 215, 215);
    width: 350px;
    height: 80px;
    margin: 5px;
    text-align: right;
    padding: 20px 20px 20px 20px;

}

#total{
    background-color: rgb(228, 215, 215);
    width: 350px;
    height: 80px;
    margin: 5px;
    text-align: right;
    padding: 20px 20px 20px 20px;
}

